<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username">
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</p>
    <br/>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
    <br/>
    <label for="lastname">LastName:</label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Error</p>
    <br/>
    <label for="country">Country:</label>
    <input type="text" th:field="*{country}" id="country">
    <br/>
    <select multiple th:field="*{roles}" id="roles">
        <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getRole()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Save">
</form>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>